.measure {
    max-width: 24em;
}
.f3 {
    font-size: 2rem;
}

.f3-ns {
    font-size: 1.45em;
}
.f4-ns {
    font-size: 1.05rem;
}
::selection {
    background: #FFFAC2;
}
::-moz-selection {
    background: #FFFAC2;
}
.b--purple {
    border-color: #111;
}
.sans-serif {
    font-family: 'Slabo 27px', serif;
}
.serif {
    font-family: 'Abril Fatface', georgia, serif;
}
.link {
    text-decoration: none;
    border-bottom: 3px solid #111;
    transition: color .15s ease-in;
}
.purple,
.focus-purple:focus {
    color: #111;
}
.hover-purple:hover {
    color: #222;
}
.stroke-purple {
    stroke: #111;
}
@media screen and (min-width: 60em){
.mega-l {
    font-size: 6rem;
}
}

@media screen and (max-width: 60em) and (min-width: 30em){
.f1-m {
    font-size: 3rem;
}
}
