::selection {
    background: #f0ecf0;
}
::-moz-selection {
    background: #f0ecf0;
}
.b--purple {
    border-color: #303;
}
.sans-serif {
    font-family: 'Cabin', sans-serif;
}
.serif {
    font-family: 'Vollkorn', georgia, serif;
}
.link {
    text-decoration: none;
    border-bottom: 3px solid #303;
    transition: color .15s ease-in;
}
.purple,
.focus-purple:focus {
    color: #303;
}
.hover-purple:hover {
    color: #980bc6;
}
.stroke-purple {
    stroke: #303;
}
