<article class="green mt4 mb2" data-name="slab-stat-small">
    <!-- <h3 class="f6 ttu tracked">Today</h3> -->
    <div class="cf">
      <dl class="fl fn-l w-50 dib-l w-auto-ns lh-title mr4-ns">
        <dd class="f6 fw4 ml0">Views</dd>
        <dd class="f3 fw6 ml0">
          <i data-feather="eye" class="f6 f4-ns v-mid"></i> 1034</dd>
      </dl>
      <dl class="fl fn-l w-50 dib-l w-auto-ns lh-title mr4-ns">
        <dd class="f6 fw4 ml0">Time remaining</dd>
        <dd class="f3 fw6 ml0">
          <i data-feather="clock" class="f6 f4-ns v-mid"></i> 5 days</dd>
      </dl>
      <dl class="fl fn-l w-50 dib-l w-auto-ns lh-title mr4-ns">
        <dd class="f6 fw4 ml0">Target required</dd>
        <dd class="f3 fw6 ml0">
          <i data-feather="crosshair" class="f6 f4-ns v-mid"></i> 20</dd>
      </dl>
      <dl class="fl fn-l w-50 dib-l w-auto-ns lh-title">
        <dd class="f6 fw4 ml0">Spaces remaining</dd>
        <dd class="f3 fw6 ml0">
          <i data-feather="user-plus" class="f6 f4-ns v-mid"></i> 4</dd>
      </dl>
    </div>
  </article>