<section class="tc mw6-l center" id="filter">
    <div class="f7 f4-m f6-l cf dib mb4 tc mt2 sans-serif">
        <a class="fl bg-white hover-bg-navy hover-white link bb bt bl pa2 ph3-ns dib b--navy br2 br--left bl border-box navy filter-active"
            href="#">
            <!-- <i data-feather="filter" class="pa0 ma0 w1 h1 v-mid"></i>  -->
            All </a>
        <a class="fl bg-white hover-bg-navy hover-white b--navy link bt bb br pa2 ph3-ns dib navy" href="#">
            Offers </a>
        <a class="fl  bg-white hover-bg-navy hover-white b--navy link bt bb br pa2 ph3-ns dib navy" href="#">
            Services </a>
        <a class="fl  bg-white hover-bg-navy hover-white b--navy link bb bt pa2 ph3-ns dib navy br2 br--right br" href="#">
            Pitches </a>
    </div>
</section>