<dd class="z-1 cf mv2 mh0 mb4 measure siema">
    <div class="fl w-100">
      <div class="aspect-ratio aspect-ratio--7x5 mr2">
        <div class="aspect-ratio--object cover z-1" style="background:url(../etta/assets/placeholder.png) center;"></div>
      </div>
    </div>
    <div class="fl w-100">
      <div class="aspect-ratio aspect-ratio--7x5 mr2">
        <div class="aspect-ratio--object cover z-1" style="background:url(../etta/assets/placeholder.png) center;"></div>
      </div>
    </div>
    <div class="fl w-100">
      <div class="aspect-ratio aspect-ratio--7x5 mr2">
        <div class="aspect-ratio--object cover z-1" style="background:url(../etta/assets/placeholder.png) center;"></div>
      </div>
    </div>
    <div class="fl w-100">
      <div class="aspect-ratio aspect-ratio--7x5 mr2">
        <div class="aspect-ratio--object cover z-1" style="background:url(../etta/assets/placeholder.png) center;"></div>
      </div>
    </div>
  </dd>