<nav id="prim-nav" class="z-5 db dt-l w-100 pa2 pa3-ns ph5-l bb bt b--black-10 fixed bg-white shadow border-box">
  <a class="dn db-l dtc-l v-mid mid-gray link w-25-l tc tl-l mb2" href="home.html" title="Home">
    <img class="rotate shadow dib w32 h32 br-100 mr1 v-mid" src="../etta/assets/favicon.png" title="Piwalo logo">
    <span class="dn dib-ns black-70 serif hover-navy">Piwalo</span>
  </a>
  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l f6 f4-m f5-l">
    <a id="discover" class="link dim navy dib ml0" href="discover.html" title="Discover">
      <i data-feather="sun" class=" v-mid"></i>
      Discover
    </a>
    <a id="search" class="link dim navy dib ml3 ml5-m ml4-l" href="search.html" title="Home">
      <i data-feather="search" class=" v-mid"></i> 
      Search
    </a>
    <a id="account" class="link dim navy dib ml3 ml5-m ml4-l" href="home.html" title="Inbox">
      <img src="../etta/assets/user-avatar.png" class="relative dib v-mid w2 h2 br-100" alt="Site Name">
      <span class="absolute bg-red white br4 pv1 ph2 pa1 f7" style="margin-left:-1.4rem; margin-top: -2.75rem;">7</span>
    </a>
  </div>
</nav>