<nav class="z-5 db dt-l w-100 pa2 pa3-ns ph5-l bb bt b--black-10 fixed bg-white shadow border-box">
  <a class="dib dtc-l v-mid mid-gray link w-25 w-20-l tc tl-l" title="Home" href="home.html">
    <img class="rotate shadow dib w32 h32 br-100 mr1 v-mid" src="../etta/assets/favicon.png" title="5ervice logo">
    <span class="dn dib-ns black-70 serif hover-navy">5ervice</span>
  </a>
  <div class="dib dtc-l v-mid w-70 tr f6 f4-m f5-l">
    <a class="link dim navy dib ml3 ml4-l" href="index.html" title="Home">
      Back</a>
  </div>
</nav>