<label for="location-radius" class="b db mb2">Location radius</label>
<!-- <input class="input-reset ba border-box b--navy br2 pa2 mb2 db w-100 measure b" type="password" name="password"  id="password"> -->
<input type="range" min="5" max="25" step="5" value="10" class="slider w-100 h1 h2-ns br2 ba b--navy bg-white outline-0"
    id="radius-slider">
<span id="location-radius-desc" class="f6 tl black-70 db mv3 lh-copy">You will see offers
    <span class="bb b--green">up to
        <span id="radius"></span>km away</span>. Don't worry, you'll never see group offers or services from businesses that don't cover your
    area! </a>
</span>