<article class="dt w-100 bb b--black-05 pv2 mv2" href="#0">
    <div class="dtc w2 w3-ns v-mid">
      <img src="../etta/assets/vendor-avatar.png" class="ba b--black-10 db br-100 w2 w3-ns h2 h3-ns" />
    </div>
    <div class="dtc v-mid pl3 tl">
      <h1 class="f6 f5-ns fw6 lh-title mv0">Vendor name</h1>
      <h2 class="f6 fw4 mt0 mb0 black-70">1 service, 3 group offers</h2>
    </div>
    <div class="dtc v-mid">
      <div class="w-100 tr fr">
        <a class="f6 button-reset bg-white bn navy pv1 black-60">
          <i data-feather="plus-circle" class="f6 f5-ns v-mid"></i>
          <span class="dn dib-ns">Follow</span>
        </a>
      </div>
    </div>
  </article>

  <article class="dt w-100 bb b--black-05 pb2 mt2" href="#0">
    <div class="dtc w2 w3-ns v-mid">
      <img src="../etta/assets/vendor-avatar.png" class="ba b--black-10 db br-100 w2 w3-ns h2 h3-ns" />
    </div>
    <div class="dtc v-mid pl3 tl">
      <h1 class="f6 f5-ns fw6 lh-title mv0">Vendor name</h1>
      <h2 class="f6 fw4 mt0 mb0 black-70">5 services, 5 group offers</h2>
    </div>
    <div class="dtc v-mid">
      <div class="w-100 tr fr">
        <span class="f6 i button-reset bg-white bn navy pointer pv1 black-60">Following</span>
      </div>
    </div>
  </article>