<footer class="bg-white navy ph3 ph5-ns pv5 pv6-ns bt b--black-10">
  <div class="mw9 center lh-copy">
    <small class="f6 db tc">&copy; 2019
      <span class="ttu">Piwalo Co</span>., All Rights Reserved</small>
    <div class="tc mt3">
      <a href="../fyp/Piwalo-business" title="Go to the Business App" class="f6 dib mh2 link navy dim bb b--green">Piwalo Business</a>
      <a href="faq.html" title="Frequently Asked Questions" class="f6 dib mh2 link navy dim">FAQs</a>
      <a href="https://github.com/lorcanblake/Piwalo" title="Github Repository" class="f6 dib mh2 link navy dim">Github</a>
    </div>
  </div>
</footer>