<article class="z-1 bg-white ba b--black-60 shadow fl mw6 mw9-m center tc ma2 ma3-l ba br1 relative">
    <div class="pv2 ph3">
        <h1 class="fw4 f6 ttu tracked">
            <i data-feather="users" class="f6 f5-ns v-mid"></i> Group Offer</h1>
    </div>
    <div class="aspect-ratio aspect-ratio--16x9 mb3">
        <div class="aspect-ratio--object cover" style="background:url(../etta/assets/placeholder.png) center;"></div>
    </div>
    <aside class="mv1 tc f6 f5-ns">
        <small class="dib pa2 green">
            <i data-feather="clock" class="v-mid"></i> 5 days left
        </small>

        <small class="dib pa2 green">
            <i data-feather="crosshair" class="v-mid"></i> 20 people
        </small>

        <small class="dib pa2 green">
            <i data-feather="user-check" class="v-mid"></i> 4 spaces free
        </small>
    </aside>

    <div class="bg-moon-gray br-pill h1 overflow-y-hidden w-80 center mv2 mh3">
        <div class="bg-green br-pill h1 shadow-1 w-75"></div>
    </div>

    <div class="pa3 tl cf measure">
        <a href="#" class="fw6 navy link dim lh-title">Aliquam volutpat vestibulum, Donec et hendrerit ipsum.</a>
        <p class="lh-copy f6 f5-m serif">
            Aenean quis nisi felis. Curabitur imperdiet placerat, eget condimentum dui lobortis quis.
        </p>
        <small class="mb5 db pt1 pb2">Offered by
            <i data-feather="check" class="bg-light-blue white pa1 br4 w1 h1 v-mid" title="Verified Account"></i>
            <a class="link navy fw6 bb b--pink" href="vendor-single.html">Vendor</a> -
            <time>5 days ago</time> -
            <span class="">2 comments</span>
            <!-- <div class="db mt2">
            <a href="#" class="f6 f5-ns b db pa2 ma2  link dim navy ba b--black-20"><i data-feather="link-2" class="f6 f4-ns v-mid"></i> Linked offer</a>
            <a href="#" class="f6 f5-ns b db pa2 ma2 link dim navy ba b--black-20"><i data-feather="link-2" class="f6 f4-ns v-mid"></i> Abyssinian</a>
        </div> -->
        </small>
    </div>

    <a class="cf absolute bottom-0 tc cf db w-100 f6 f5-m fw7 no-underline bg-black-05 navy ph4 pv3 mt4" href="offer-single.html">
        More details
    </a>
</article>