<section id="details" class="fade db">
    <dt class="f5 b mv3 mt2 sans-serif">Description</dt>
    <dd class="f5 lh-copy measure ml0 mt0-ns mb4">
        // description copy here
    </dd>
    <dt class="f5 b mv3 sans-serif">Media (4)</dt>
    <dd class="z-1 cf mv2 mh0 mb4 measure siema">
        <div class="fl w-100">
            <div class="aspect-ratio aspect-ratio--7x5 mr2">
                <div class="aspect-ratio--object cover z-1" style="background:url(../etta/assets/placeholder.png) center;"></div>
            </div>
        </div>
        <div class="fl w-100">
            <div class="aspect-ratio aspect-ratio--7x5 mr2">
                <div class="aspect-ratio--object cover z-1" style="background:url(../etta/assets/placeholder.png) center;"></div>
            </div>
        </div>
        <div class="fl w-100">
            <div class="aspect-ratio aspect-ratio--7x5 mr2">
                <div class="aspect-ratio--object cover z-1" style="background:url(../etta/assets/placeholder.png) center;"></div>
            </div>
        </div>
        <div class="fl w-100">
            <div class="aspect-ratio aspect-ratio--7x5 mr2">
                <div class="aspect-ratio--object cover z-1" style="background:url(../etta/assets/placeholder.png) center;"></div>
            </div>
        </div>
    </dd>
    <dt class="f5 b mb3 mt4 sans-serif">Terms and Conditions</dt>
    <dd class="f5 lh-copy ml0 mt0-ns mb3 measure">
        All typography consists of letters. These appear either in the form of a smoothly running sentence or as an assembly of lines,
        which may even have contrasting shapes. Good typog- raphy begins, and this is no minor matter, with the typeset-
        ting of a single line of text in a book or a newspaper. Using exactly the same typeface, it is possible to create
        either a pleasant line, easily read, or an onerous one. Spacing, if it is too wide or too compressed, will spoil
        almost any typeface.
    </dd>
    <dd class="f5 lh-copy ml0 mt0-ns mb4 measure">
        All typography consists of letters. These appear either in the form of a smoothly running sentence or as an assembly of lines,
        which may even have contrasting shapes. Good typog- raphy begins, and this is no minor matter, with the typeset-
        ting of a single line of text in a book or a newspaper. Using exactly the same typeface, it is possible to create
        either a pleasant line, easily read, or an onerous one. Spacing, if it is too wide or too compressed, will spoil
        almost any typeface.
    </dd>
</section>

<section id="discussion" class="lh-title fade mt0 f5 lh-copy measure dn">
    <article class="ba b--black-10 ph2 pv3">
        <dt class="b sans-serif">Topic</dt>
        <dd class="ml0">Aenean quis nisi felis. Curabitur imperdiet placerat, eget condimentum dui lobortis quis.</dd>

        <article class="ml2 ph1 pv2">
            <dt class="b sans-serif">
                <i data-feather="corner-down-right" class="h1 w1 v-mid"></i> reply</dt>
            <dd class="ml0">Aenean quis nisi felis. Curabitur imperdiet placerat, eget condimentum dui lobortis quis.</dd>

            <article class="ml2 ph1 pv2">
                <dt class="b sans-serif">
                    <i data-feather="corner-down-right" class="h1 w1 v-mid"></i> reply</dt>
                <dd class="ml0">Aenean quis nisi felis. Curabitur imperdiet placerat, eget condimentum dui lobortis quis.</dd>
            </article>

        </article>

    </article>
</section>

<section id="activity" class="fade dn">

    <dl class="lh-title mt4 f5 lh-copy measure bl pl2">
        <dt class=" b mt2 sans-serif">Timeline item</dt>
        <dd class="ml0 f6">Timeline description
            <time class="pl2">Time</time>
        </dd>
    </dl>
    <dl class="lh-title mt0 f5 lh-copy measure bl bw2 pl2">
        <dt class="f4 b mt2 sans-serif">
            <i data-feather="flag" class="h1 w1 v-mid"></i> Milestone item</dt>
        <dd class="ml0 f6 ">Timeline description
            <time class="pl2">Time</time>
        </dd>
    </dl>
    <dl class="lh-title mt0 f5 lh-copy measure bl pl2">
        <dt class="b mt2 sans-serif">Timeline item</dt>
        <dd class="ml0 f6">Timeline description
            <time class="pl2">Time</time>
        </dd>
    </dl>

</section>

<aside class="mv4 f7 f6-ns fw7 w-100 sans-serif">
    <a class="tc bb--w2 no-underline w-auto dim dib v-mid navy ba br2 ph3 pv2 mv2" href="https://raw.githubusercontent.com/lorcanblake/etta/master/src/css/etta.min.css">
        <i data-feather="plus" class="v-mid"></i> Join
    </a>
    <a class="tc bb--w2 no-underline w-auto dim dib v-mid navy ba br2 ph3 pv2 mv2" href="https://raw.githubusercontent.com/lorcanblake/etta/master/src/css/etta.min.css">
        <i data-feather="star" class="v-mid"></i> Interested
    </a>
    <a class="tc bb--w2 no-underline w-auto dim dib v-mid navy ba br2 ph3 pv2 mv2" href="https://raw.githubusercontent.com/lorcanblake/etta/master/src/css/etta.min.css">
        <i data-feather="message-square" class="v-mid"></i> Comment
    </a>
</aside>