<div class="f6 f5 mt0 mh3 mh4-m mh5-l pt2 pt4-ns pb2 tc">
    <div class="flex justify-between">
      <div class="w-25 pv3 tl-ns">
        <i data-feather="users" class=" v-mid"></i>
        <span class="link navy">Group Offer</span>
        <!-- <i data-feather="clipboard" class="f6 v-mid"></i> <a class="link navy" href="tag-service.html">Service Pitch</a> -->
      </div>
      <div class="w-25 pv3">
        <!-- <i data-feather="award" class=" v-mid"></i> <span class="pb1 tracked"> Most Viewed Today </span> -->
        <!-- <i data-feather="eye" class="f6 v-mid"></i> <span class="pb1 tracked"> 1034 views -->
        <a class="link navy" href="#" title="Go to Vendor page">
          <img src="../etta/assets/vendor-avatar.png" class="dib w2 h2 br-100 v-mid" alt="Vendor logo">
          <a class="link navy" href="vendor-single.html">Vendor</a>
        </a>
      </div>
      <div class="w-25 pv3 tr-ns">
        <i data-feather="book-open" class=" v-mid"></i>
        <a class="link navy" href="category-single.html">Category</a>
      </div>
    </div>