<!-- <nav id="prim-nav" class="z-5 db dt-l w-100 pa2 pa3-ns ph5-l bb bt b--black-10 fixed bg-white shadow border-box">
    <a class="dn db-l dtc-l v-mid mid-gray link w-25-l tc tl-l mb2" href="discover.html" title="Home">
      <img class="rotate shadow dib w32 h32 br-100 mr1 v-mid" src="../etta/assets/favicon.png" title="Piwalo logo">
      <span class="dn dib-ns black-70 serif hover-navy">Piwalo</span>
    </a>
    <div class="db dtc-l v-mid w-100 w-75-l tc tr-l f6 f4-m f5-l">
      <a class="b link dim navy f6 f5-l dib ml3 ml4-l" href="#" title="Home">
            <i data-feather="grid" class="f6 f5-ns v-mid"></i> Home</a>
      <a class="b link dim navy dib ml0" onclick="openNav()" title="Inbox">
        <i data-feather="grid" class="relative  v-mid"></i>
        <span class="absolute bg-red white br4 pv1 ph2 pa1 f7" style="margin-left:-1.4rem; margin-top: -.75rem;">4</span>
        <span class="">Home</span>
      </a>
      <a id="discover" class="link dim navy dib ml0" href="discover.html" title="Discover">
        <i data-feather="sun" class=" v-mid"></i>
        <span class="">Discover</span>
      </a>
      <a id="search" class="link dim navy dib ml2 ml5-m ml4-l" href="search.html" title="Home">
        <i data-feather="search" class=" v-mid"></i> Search</a>
      <a class="link dim navy f6 f5-l dib ml3 ml4-l" onclick="openNav()" title="Account">
            <i data-feather="menu" class="relative f6 f5-ns v-mid"></i>
            <span class="absolute bg-red white br4 pv1 ph2 pa1 f7" style="margin-left:-1.4rem; margin-top: -.75rem;">7</span>
            <span class="dn dib-ns">Account</span>
          </a>
      <a id="updates" class="link dim navy dib ml2 ml5-m ml4-l" href="updates.html" title="Inbox">
            <i data-feather="inbox" class="relative f6 f5-ns v-mid"></i>
            <span class="absolute bg-red white br4 pv1 ph2 pa1 f7" style="margin-left:-1.75rem; margin-top: -.75rem;">7</span>
            <span class="dib">Updates</span>
          </a>
      <a id="account" class="link dim navy dib ml2 ml5-m ml4-l" onclick="openNav()" title="Inbox">
            <i data-feather="grid" class="relative f6 f5-ns v-mid"></i>
            <img src="../etta/assets/user-avatar.png" class="relative dib v-mid w2 h2 br-100" alt="Site Name">
            <span class="absolute bg-red white br4 pv1 ph2 pa1 f7" style="margin-left:-1.4rem; margin-top: -.75rem;">7</span>
      </a>
    </div>
  </nav> -->

  <nav id="prim-nav" class="z-5 db dt-l w-100 pa2 pa3-ns ph5-l bb bt b--black-10 fixed bg-white shadow border-box">
    <a class="dn db-l dtc-l v-mid mid-gray link w-25-l tc tl-l mb2" href="home.html" title="Home">
        <img class="rotate shadow dib w32 h32 br-100 mr1 v-mid" src="../etta/assets/favicon.png" title="Piwalo logo">
        <span class="dn dib-ns black-70 serif hover-navy">Piwalo Business</span>
    </a>
    <div class="db dtc-l v-mid w-100 w-75-l tc tr-l f6 f4-m f5-l">
        <!-- <a class="b link dim navy f6 f5-l dib ml3 ml4-l" href="#" title="Home">
              <i data-feather="grid" class="f6 f5-ns v-mid"></i> Home</a> -->
        <!-- <a class="b link dim navy dib ml0" onclick="openNav()" title="Inbox">
          <i data-feather="grid" class="relative  v-mid"></i>
          <span class="absolute bg-red white br4 pv1 ph2 pa1 f7" style="margin-left:-1.4rem; margin-top: -.75rem;">4</span>
          <span class="">Home</span>
        </a> -->
        <a id="discover" class="link dim navy dib ml0" href="discover.html" title="Discover">
            <i data-feather="sun" class=" v-mid"></i>
            <span class="dn dib-ns">Discover</span>
        </a>
        <a id="search" class="link dim navy dib ml2 ml5-m ml4-l" href="search.html" title="Home">
            <i data-feather="search" class=" v-mid"></i> Search</a>
        <!-- <a class="link dim navy f6 f5-l dib ml3 ml4-l" onclick="openNav()" title="Account">
              <i data-feather="menu" class="relative f6 f5-ns v-mid"></i>
              <span class="absolute bg-red white br4 pv1 ph2 pa1 f7" style="margin-left:-1.4rem; margin-top: -.75rem;">7</span>
              <span class="dn dib-ns">Account</span>
            </a> -->


        <a id="updates" class="link dim navy dib ml2 ml5-m ml4-l" href="updates.html" title="Inbox">
            <i data-feather="inbox" class="relative f6 f5-ns v-mid"></i>
            <span class="absolute bg-red white br4 pv1 ph2 pa1 f7" style="margin-left:-1.75rem; margin-top: -.75rem;">7</span>
            <span class="dib">Updates</span>
        </a>
        <a id="account" class="link dim navy dib ml2 ml5-m ml4-l" onclick="openNav()" title="Inbox">
            <!-- <i data-feather="grid" class="relative f6 f5-ns v-mid"></i> -->
            <img src="../etta/assets/user-avatar.png" class="relative dib v-mid w2 h2 br-100" alt="Site Name">
            <!-- <span class="absolute bg-red white br4 pv1 ph2 pa1 f7" style="margin-left:-1.4rem; margin-top: -.75rem;">7</span> -->
        </a>
    </div>
</nav>