<div id="side-nav" class="vh-100 fixed z-1 top-0 left-0 bg-white br b--black-10 overflow-x-hidden w0">
    <div class="pa4-l mt4 mt2-l mt-10vh">

        <div class="flex flex-column dt border-box w-80 center w-100-l">
            <a href="javascript:void(0)" class="navy link f7 tc ma1 v-mid" onclick="closeNav()">
                <i data-feather="arrow-left-circle" class="w2 h2 dib fill-navy white fill-navy center mb3 v-mid"></i>
            </a>
            <!-- <a class="shadow f7 f6-ns fw7 no-underline grow db dtc v-mid navy ba b--black-60 br1 mb1 mb3-ns pa3 pa4-ns w-100 tc ttu"
          href="updates.html">
          <span class="center tc">
            <i data-feather="inbox" class="f7 f6-ns db v-mid center mb3 relative"></i>
            <span class="absolute tc bg-red white br4 pv1 ph2 pa1 f7" style="margin-left:1.25rem; margin-top: -3.25rem;">4</span> Updates </span>
        </a> -->
            <a class="shadow f7 f6-ns fw7 no-underline grow dib dtc v-mid navy ba b--black-60 br1 pa3 pa4-ns mb1 mb3-ns w-100 tc ttu"
                href="saved.html">
                <span class="center tc">
                    <i data-feather="truck" class="f7 f6-ns db v-mid center mb3"></i> Services </span>
            </a>
            <a class="shadow f7 f6-ns fw7 no-underline grow db dtc v-mid navy ba b--black-60 br1 pa3 pa4-ns mb1 mb3-ns w-100 tc ttu"
                href="pitch.html">
                <span class="center tc">
                    <i data-feather="plus-circle" class="f6 f5-ns db v-mid center mb3"></i> Add New </span>
            </a>
            <!-- <a class="shadow f7 f6-ns fw7 no-underline grow db dtc v-mid navy ba b--black-60 br1 pa3 pa4-ns mb1 mb3-ns w-100 mr2 tc ttu"
                href="discover.html">
                <span class="center tc">
                  <i data-feather="award" class="f6 f5-ns db v-mid center mb3"></i> Earned </span>
              </a> -->
            <a class="shadow f7 f6-ns fw7 no-underline grow db dtc v-mid navy ba b--black-60 br1 pa3 pa4-ns mb1 mb3-ns w-100 tc ttu"
                href="funded.html">
                <span class="center tc">
                    <i data-feather="briefcase" class="f7 f6-ns db v-mid center mb3"></i> In review </span>
            </a>

            <a class="shadow f7 f6-ns fw7 no-underline grow db dtc v-mid navy ba b--black-60 br1 pa3 pa4-ns mb1 mb3-ns w-100 tc ttu"
                href="faq.html">
                <span class="center tc">
                    <i data-feather="bar-chart-2" class="f6 f5-ns db v-mid center mb3"></i> Stats </span>
            </a>
            <a class="f7 f6-ns fw7 no-underline db dtc v-mid navy br1 pa3 pa4-ns pv2-ns mb1 mb2-ns w-100 tc ttu" href="settings.html">
                <span class="center tc">
                    <i data-feather="settings" class="f7 f6-ns db v-mid center"></i>
                </span>
            </a>
            <aside class="center mt4 mb2">
                <a class="shadow f7 f6-ns fw7 no-underline grow dib v-mid bg-navy white ba b--black-60 br-pill ph4 pv2 mb3" href="index.html">
                    Sign out
                </a>
                <!-- <div class="tc mt4">
              <a href="/credits/" title="Credits" class="f6 dib ph2 link navy">Trader or aspiring entrepreneur?
                <span class="bb b--green">Piwalo Business</span> is for you!</a>
            </div> -->
            </aside>
        </div>
    </div>
</div>