<div class="dib pv1 ph2 mb1 fw4 f7 ttu tracked blue ba">Open call</div>
            <div class="dib pv1 ph2 mb1 fw4 f7 ttu tracked navy ba">Seeking support</div>
            <div class="dib pv1 ph2 mb1 fw4 f7 ttu tracked navy ba">2 Vendors considering</div>
            <div class="dib pv1 ph2 mb1 fw4 f7 ttu tracked yellow ba" title="No activity in the past X months">Stale</div>
            <div class="dib pv1 ph2 mb1 fw4 f7 ttu tracked green ba">Accepted</div>
             <div class="dib pv1 ph2 mb1 fw4 f7 ttu tracked pink ba">Seeking funding</div>