<div class="flex justify-center-ns dt border-box w-100">
    <a class="shadow f7 f6-ns fw7 no-underline grow dib dtc v-mid navy ba b--black-60 br1 pa3 pa4-ns mb3 w-30 w-20-l mr2 tc ttu"
      href="updates.html">
      <span class="center tc">
        <i data-feather="inbox" class="f6 f5-ns db v-mid center mb3 relative"></i>
        <span class="absolute tc bg-red white br4 pv1 ph2 pa1 f7" style="margin-left:1.25rem; margin-top: -3.25rem;">7</span> Updates </span>
    </a>
    <a class="shadow f7 f6-ns fw7 no-underline grow dib dtc v-mid navy ba b--black-60 br1 pa3 pa4-ns mb3 w-30 w-20-l mr2 tc ttu"
      href="funded.html">
      <span class="center tc">
        <i data-feather="credit-card" class="f6 f5-ns db v-mid center mb3"></i> Funded </span>
    </a>
    <a class="shadow f7 f6-ns fw7 no-underline grow dib dtc v-mid navy ba b--black-60 br1 pa3 pa4-ns mb3 w-30 w-20-l mr2 tc ttu"
      href="pitch.html">
      <span class="center tc">
        <i data-feather="feather" class="f6 f5-ns db v-mid center mb3"></i> Pitch </span>
    </a>
  </div>