         ::selection {
         background: #d0d0d0;
         }
         ::-moz-selection {
         background: #d0d0d0;
         }
         .serif {
         font-family: 'Cardo', serif;
         } 
         .sans-serif {
         font-family: 'Open Sans', sans-serif;
         }
            .poster{
                font-family: 'Gravitas One', cursive;
            }
         .measure {
/*         width: 100%;*/
/*         max-width: 900px;*/
         }
         .blue {
         color: #191970;
         }
         .bg-blue {
         background: #191970;
         }
         .b--blue {
         border: 2px solid #191970;
         }
         .orange {
         color: #f0ad4e;
         }
         .bg-orange {
         background: #f0ad4e;
         }
         .underline {
         text-decoration: underline;
         border-bottom: 2px solid #fff;
         }
         .link {
         font-weight: bold;
         }
        iframe{
            height: 85vh;
            width: 96%;
        }
        input{
            border-radius: 4px;
        }

h1 {
  animation-duration: 5s;
}